<section class="home-banner">
	<div class="container">
		<div class="hb-row">
			<div class="hb-col">
				<article>
					<h3>{{ content.field_title_1 }}</h3>
					{{ content.field_description_1 }}
				</article>
			</div>
			<div class="hb-col">
				<article>
					<h3>{{ content.field_title_2 }}</h3>
					{{ content.field_description_2 }}
				</article>	
			</div>
			<div class="hb-col">
				<article>
					<h3>{{ content.field_title_3 }}</h3>
					{{ content.field_description_3 }}
				</article>	
			</div>
		</div>
		<div class="hb-btn">
			{{ content.field_find_out_more }}
		</div>
	</div>
</section>